<% include ./partials/header %>
<h1> sign Up!!</h1>

<form method="POST" action="/register">
    <input type="text" name="username" placeholder="Username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value= "signIn">
</form>
<% include ./partials/footer %>